### Run the A/B test

"""To run the A/B test we will write python script in the Jupyter notebook that will simulate real life A/B testing. The script will:

read test data,
send sample by sample to the server,
get the server response and send the feedback to the server."""

### import packages

In [2]:
import json # will be needed for saving preprocessing details
import numpy as np # for data manipulation
import pandas as pd # for data manipulation
from sklearn.model_selection import train_test_split # will be used for data split
import requests

### Importing/Load dataset

In [3]:
dataset = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)

new_dataset = dataset.fillna(method='ffill', axis=0)

new_dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Splitting the dataset into the Training set and Test set

In [12]:
X = new_dataset.iloc[:, :-1]
y = new_dataset.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1234)

In [13]:
print(X_train)

       age  workclass  fnlwgt     education  education-num  \
29700   37    Private   34146       HS-grad              9
1529    37    Private   26898       HS-grad              9
27477   26    Private  190762  Some-college             10
31950   35    Private  189092     Bachelors             13
4732    23    Private  260019       7th-8th              4
...    ...        ...     ...           ...            ...
27852   24    Private  223367          11th              7
23605   20    Private  127185  Some-college             10
1318    41  State-gov  144928     Bachelors             13
25299   40    Private  199303       HS-grad              9
27439   38    Private   38312     Bachelors             13

           marital-status       occupation relationship   race     sex  \
29700  Married-civ-spouse     Craft-repair      Husband  White    Male
1529             Divorced  Exec-managerial    Unmarried  White  Female
27477  Married-civ-spouse            Sales      Husband  White    Male
31950  Married-civ-spouse  Exec-managerial      Husband  White    Male
4732        Never-married  Farming-fishing    Unmarried  Other    Male
...                   ...              ...          ...    ...     ...
27852       Never-married     Craft-repair    Unmarried  White    Male
23605       Never-married   Prof-specialty    Own-child  White  Female
1318   Married-civ-spouse   Prof-specialty      Husband  White    Male
25299  Married-civ-spouse     Craft-repair      Husband  White    Male
27439  Married-civ-spouse  Exec-managerial      Husband  White    Male

       capital-gain  capital-loss  hours-per-week native-country
29700             0             0              68  United-States
1529              0             0              12  United-States
27477             0             0              18  United-States
31950             0             0              40  United-States
4732              0             0              36         Mexico
...             ...           ...             ...            ...
27852             0             0              40  United-States
23605             0             0              15  United-States
1318              0             0              40  United-States
25299             0             0              40  United-States
27439         15024             0              65  United-States

[22792 rows x 14 columns]

In [14]:
print(X_test)

       age  workclass  fnlwgt     education  education-num  \
1055    32    Private   87643     Bachelors             13
26305   27    Private  207352     Bachelors             13
9568    73  State-gov   74040       7th-8th              4
15071   39    Private  174924       HS-grad              9
2012    31    Private  264936  Some-college             10
...    ...        ...     ...           ...            ...
19433   59    Private  367984     Bachelors             13
12825   26    Private  144483     Assoc-voc             11
23420   55    Private   98361     Bachelors             13
6259    24  Local-gov  150084  Some-college             10
1439    47    Private   67716       HS-grad              9

           marital-status       occupation   relationship                race  \
1055   Married-civ-spouse            Sales        Husband               White
26305  Married-civ-spouse     Tech-support        Husband  Asian-Pac-Islander
9568             Divorced    Other-service  Not-in-family  Asian-Pac-Islander
15071           Separated  Exec-managerial  Not-in-family               White
2012        Never-married    Other-service  Not-in-family               White
...                   ...              ...            ...                 ...
19433  Married-civ-spouse    Other-service        Husband               White
12825            Divorced            Sales      Own-child               White
23420  Married-civ-spouse  Exec-managerial        Husband               White
6259            Separated  Protective-serv  Not-in-family               White
1439   Married-civ-spouse            Sales        Husband               White

          sex  capital-gain  capital-loss  hours-per-week native-country
1055     Male             0             0              40  United-States
26305    Male             0             0              40          India
9568   Female             0             0              40  United-States
15071    Male         14344             0              40  United-States
2012   Female             0             0              40  United-States
...       ...           ...           ...             ...            ...
19433    Male             0             0              40  United-States
12825  Female           594             0              35  United-States
23420    Male         15024             0              55  United-States
6259     Male             0             0              60  United-States
1439     Male             0             0              40  United-States

[9769 rows x 14 columns]

### Let's use first 100 rows of test data for A/B test.

In [20]:
for i in range(100):
    input_data = dict(X_test.iloc[i])
    target = y_test.iloc[i]
    r = requests.post("http://127.0.0.1:8000/api/v1/income_classifier/predict?status=ab_testing", input_data)
    response =  r.json()
    #provide feedback
    requests.put("http://127.0.0.1:8000/api/v1/mlrequests/{}".format(response["request_id"]), {"feedback": target})